body {
  background: #f3f4f6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero {
  height: 100vh; /* Full viewport height */
  background-image: url('images/background.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;}

.card {
  transition: transform 0.3s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}